<label for="artist_id">Filter by Artist</label>

<form method="get" action="/exhibits/filter">
  <select name="artist_id" id="artist_id">

    <% for artist in @artists %>
    <option value="<%=artist.id%>">
      <%=artist.first_name%> <%=artist.last_name%>
    </option>
    <% end %>

  </select>
  <input type="submit" value="Filter Artist"/>
</form>

<div id="all-exhibits-list">
  <% @exhibits.each do |exhibit| %>

    <div class="exhibit-in-list">
      <p>Title: <%= exhibit.title() %></p>
      <p>Year: <%= exhibit.year() %></p>
      <p>Description: <%= exhibit.description() %></p>
      <p>Category: <%= exhibit.category() %></p>

      <p><a href="/exhibits/<%= exhibit.id %>">Show Exhibit</a></p>
    </div>

  <% end %>
</div>
