<div id="artist-detail"
  <div class="artist-detail"

    <p>First Name: <%= @artist.first_name %></p>
    <p>Last Name: <%= @artist.last_name %></p>

    <% for exhibit in @exhibits %>
    <p><%= "Title:" %> <%= exhibit.title %></p>
    <p><a href="/exhibits/<%= exhibit.id %>">Show Exhibit </a></p>
    <% end %>

  </div>
</div>
