<p>Title: <%= @exhibit.title %></p>
<p>Year: <%= @exhibit.year %></p>
<p>Description: <%= @exhibit.description %></p>
<p>Category: <%= @exhibit.category %></p>

<% for artist in @artists %>
  <p><%= "Artist:" %> <%= artist.first_name %> <%= artist.last_name %></p>
<% end %>

<!-- <p><a href="/manager/exhibit/<%= @exhibit.id %>/edit">Edit Exhibit</a></p> -->

<form method="get" action="/manager/exhibit/<%= @exhibit.id %>/edit">

  <input type="submit" value="Edit Exhibit"/>

</form>

<form method="post" action="/manager/exhibit/<%= @exhibit.id %>/delete">

  <input type="submit" value="Delete Exhibit"/>

</form>
