<p>Title: <%= @exhibit.title %></p>
<p>Year: <%= @exhibit.year %></p>
<p>Description: <%= @exhibit.description %></p>
<p>Category: <%= @exhibit.category %></p>

<p><a href="/manager/exhibit/<%= @exhibit.id %>/edit">Edit Exhibit</a></p>

<form method="post" action="/manager/exhibit/<%= @exhibit.id %>/delete">

  <input type="submit" value="Delete Exhibit"/>

</form>
