<div id="exhibit-detail"
<div class="exhibit-detail"

<p>Title: <%= @exhibit.title %></p>
<p>Year: <%= @exhibit.year %></p>
<p>Description: <%= @exhibit.description %></p>
<p>Category: <%= @exhibit.category %></p>

<% for artist in @artists %>
  <p><%= "Artist:" %> <%= artist.first_name %> <%= artist.last_name %></p>
<% end %>

<div id="red-on-maroon">
  <img src="https://www.tate.org.uk/art/images/work/T/T01/T01165_10.jpg"
    width="500" height="500" alt="Red on Maroon">
</div>

</div>
</div>
