<div id="all-exhibits-list">
  <% @exhibits.each do |exhibit| %>

    <div class="exhibit-in-list">
      <p>Title: <%= exhibit.title() %></p>
      <p>Year: <%= exhibit.year() %></p>
      <p>Description: <%= exhibit.description() %></p>
      <p>Category: <%= exhibit.category() %></p>

      <p><a href="/manager/exhibits/<%= exhibit.id %>">Show Exhibit</a></p>
    </div>

  <% end %>
</div>
